.element__like {
  width: 22px;
  min-width: 22px;
  height: 19px;
  line-height: 0;
  background-color: #fff;
  background-image: url(../../../images/like-button-icon-normal.svg);
  border: none;
  opacity: 1;
  transition: opacity .3s linear;
  /* transition: color .2s linear; */
  margin: 0;
  padding: 0;
}

.element__like:hover {
  opacity: .5;
  cursor: pointer;
}

.element__like:active {
  opacity: 1;
  background-image: url(../../../images/like-button-icon-active.svg);
}