.page {
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;

  /* сглаживание (smoothing) шрифтов */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* подгонка размера текста (text size adjust) */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
