.user__edit-button {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/edit-button-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  padding: 0;
}