.button_action_close {
  width: 32px;
  height: 32px;
  border: 0;
  background-image: url(../../../images/save-button-icon.svg);
  background-size: contain;
  position: absolute;
  left: calc(100% + 8px);
  top: -40px;
}

@media screen and (max-width: 620px) {
  .button_action_close {
    width: 20px;
    height: 20px;
    left: calc(100% - 20px);
    top: -36px;
  }
}