.button_action_like {
  width: 22px;
  min-width: 22px;
  height: 19px;
  line-height: 0;
  background-image: url(../../../images/like-button-icon-normal.svg);
  border: none;
}

.button_action_like:hover {
  opacity: .5;
}