.element {
  list-style: none;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden; /* для загруглений у изображений */
  line-height: 0;
  position: relative; /* для выравнивания кнопки удаления */
}