.user__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 620px) {
  .user__avatar {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
