.page__elements {
  margin-bottom: 66px;
  min-height: 20vh;
}

/* 880px = максимальная ширина, плюс отступы по 10px */
/* начиная с такой ширины и меньше появляются отступы по 19px */
@media screen and (max-width: calc(880px + 2*10px)) {
  .page__elements {
    padding: 0 19px;
  }
}